/* .forecastWrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .forecastWrapper {
    grid-template-columns: repeat(5, 1fr);
    overflow-x: unset;
  }
} */

.wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  overflow-x: auto;
  margin-top: 18px;
  padding-bottom: 6px;
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.7) transparent;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
    overflow-x: hidden;
  }
}
